@*@page

@model DetailsModel

@{
    ViewData["Title"] = "Car Details";
}

<h2>Details</h2>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Car.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Car.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Car.Model)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Car.Model)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Car.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Car.Description)
        </dd>
    </dl>
</div>*@