@page
@using Core.Enums;
@model Checkers.Pages.GameModel
@{
}

<h1>@Model.Game.BlackPlayer @Model.TimeBlackPlayer</h1>

<style>
    table {
        border-collapse: collapse;
    }

    td {
        width: 100px;
        height: 100px;
        border: 1px solid black;
    }

        td.white {
            background-color: white;
        }

        td.black {
            background-color: black;
        }

    img.checkers-piece {
        width: 100px;
        height: 100px;
    }
</style>

<table>
    @for (int y = 9; y >= 0; y--)
    {
        <tr>
            @for (int x = 0; x < 10; x++)
			{
                var squareColor = Model.Game.Board.Squares[y, x] == Color.White ? "white" : "black";
                <td class="@squareColor">
                    
                    @foreach (var piece in Model.Game.Pieces)
					{
						if (piece.X == x && piece.Y == y)
						{
					        var pieceColor = piece.Color == Color.White ? "white" : "black";
                            <img src="~/images/@(pieceColor)_piece.png" class="checkers-piece">
                        }
                    }
                </td>
            }
        </tr>
    }
</table>


<h1>@Model.Game.WhitePlayer @Model.TimeWhitePlayer</h1>
<button type="submit">Start de tijd</button>


